Makefile.conf
.Makefile.d
\#*.v#
*.v~
.#*.v
.*.aux
*.vo
*.vok
*.vos
*.glob
*.cache
blueprint/rocq_decls
blueprint/web
blueprint/print
blueprint/**/*.aux
blueprint/**/*.paux
blueprint/**/*.bbl
blueprint/**/*.blg
blueprint/**/*.fdb_latexmk
blueprint/**/*.fls
blueprint/**/*.log
blueprint/**/*.out
blueprint/**/*.pdf
blueprint/**/*.synctex.gz
html/
